* {
    margin-left: 1%;
}

.entete1, .entete2 {
    border: 1px solid black;
    width: 500px;
    height: 100px;
}

.entete2 {
    margin-left: 55%;
}

.devis {
    color: gray;
    text-align: center;
}

.proposition {
    border: 1px solid black;
    width: 90%;
    text-align: center;
}

table, tr, td {
    border: 1px solid black;
}

.nbJoursPrevus {
    width: 90%;
}

.refus, .accept {
    border: 1px solid white;
}

.refus {
    background: orange;
}

.accept {
    background: #28be28;
}